.mainContainer {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  box-sizing: border-box;
}

.wrapper {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pageTitle {
  text-align: start;
  width: 100%;
  color: #4caf50;
}

.instructions {
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px;
  color: 424242;
  text-align: start !important;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #424242;
  font-size: 14px;
  margin-top: 30px;
}

.cardsContainerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 26.5px;
  box-sizing: border-box;
  margin-top: 20px;
}
.noIngredientText {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 40px;
}

.ingredientCard {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-sizing: border-box;
}
.card1 {
  //   width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ingredientTitle {
  text-transform: capitalize;
}
.ingredientDetails {
  color: #424242;
  font-size: 14px;
}
.card2 {
  //   width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;
}
.plusIcon {
  cursor: pointer;
  font-size: 24px;
}

// Add ingredient modal
.addIngredientModalForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  width: 100%;
}

.addIngredientLabel {
  font-size: 13px;
  margin-bottom: 2px;
}
.addFormSuccess {
  font-size: 10px;
  color: green;
}
.addFormError {
  font-size: 10px;
  color: red;
  text-transform: capitalize;
  margin-top: 3px;
  padding: 0px;
}
.formInput input {
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: white;
}

.datePickerWrapper {
  display: block;
  width: 100%;
}

.datePicker {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
}

.addIngredientButton {
  width: 100px;
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  border: none !important;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  text-align: center;
}
.addIngredientButton:hover {
  background-color: #e55a00;
}
.addButtonDisabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.cancelButton {
  width: 100px;
  padding: 10px 20px;
  background-color: gray;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  text-align: center;
}
.cancelButton:hover {
  background-color: rgb(95, 94, 94);
}
@media (max-width: 768px) {
  .wrapper {
    gap: 20px;
  }

  .ingredientCard {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .headerWrapper {
    margin-top: 0px;
  }
}
