:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  font-family: "Merienda", serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: "Merienda", serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Merienda", serif !important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #f5f5dc !important;
}
